//====================================================================================================

.main-block {
    &__container-big {
        position: relative;
    }

    &__container {
    }

    &__content {
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top", 250, 130);
        @include adaptiveValue("padding-bottom", 200, 50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title {
        max-width: rem(750);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 69, 30);
        }
    }

    &__text {
        max-width: rem(600);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }

    &__form {
        @media (max-width: em(430)) {
            width: 100%;
        }
    }

    &__icons {
    }
}

.icons-main-block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    @media (max-width: $mobile) {
        opacity: 0.2;
    }

    &__item {
        position: absolute;

        &_1 {
            top: percent(675, 974);
            left: rem(15);
        }

        &_2 {
            top: percent(380, 974);
            left: percent(237, 1620);
        }

        &_3 {
            top: percent(757, 974);
            left: percent(403, 1620);
        }

        &_4 {
            top: percent(134, 974);
            left: percent(1149, 1620);
        }

        &_5 {
            top: percent(419, 974);
            left: percent(1325, 1620);
        }

        &_6 {
            top: percent(776, 974);
            left: percent(1408, 1620);
        }

        &_7 {
            top: percent(367, 974);
            left: percent(1558, 1620);
        }
    }
    &__circle {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;

        @include adaptiveValue("width", 585, 350);
        @include adaptiveValue("height", 585, 350);
        &::before {
            content: "";
            display: block;
            border-radius: 50%;
            border: 1px solid #fff;
            width: 100%;
            height: 100%;
        }
        &_1 {
            &::before {
                transform: translate(calc(-50% - rem(28)), -40%);
            }
        }
        &_2 {
            &::before {
                transform: translate(calc(-50% + rem(27)), -55%);
            }
        }
    }
}

//====================================================================================================
.partners {
    @include adaptiveValue("padding-bottom", 200, 50);

    &__container {
        display: flex;
        justify-content: space-between;
        gap: rem(25);
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: em(1100px)) {
            justify-content: center;
        }
    }

    &__item {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}

//====================================================================================================
.how {
    @include adaptiveValue("padding-bottom", 100, 25);
    &__container {
        display: grid;
        row-gap: rem(30);
        @media (min-width: $tablet) {
            grid-template-columns: 1fr percent(750, 1420);
        }
    }
    &__content {
        @include adaptiveValue("padding-right", 95, 30, 1420, 992, 2);
        @media (max-width: $mobileSmall) {
            padding-right: rem(0);
        }
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 30);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }
}

.steps-how {
    @media (max-width: $mobileSmall) {
        text-align: center;
    }
    &__item {
        max-width: rem(490);
        display: flex;
        align-items: flex-start;
        gap: rem(32);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 30);
        }
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__icon {
        background: rgba(0, 128, 0, 0.1);
        border-radius: 50%;
        flex: 0 0 rem(110);
        width: rem(110);
        height: rem(110);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
    }

    &__title {
        font-size: rem(20);
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__text {
    }
}

//====================================================================================================
.pathway {
    @include adaptiveValue("padding-top", 100, 25);
    @include adaptiveValue("padding-bottom", 100, 25);
    &__container {
        display: flex;
        row-gap: rem(30);
        @media (max-width: $tablet) {
            flex-direction: column-reverse;
        }
        &-big {
        }
    }

    &__container {
    }

    &__image {
        @media (max-width: $tablet) {
            width: 100%;
        }

        flex: 0 0 percent(694, 1420);
        .image-block__circle {
            top: auto;
            right: auto;
            left: 0;
            bottom: 0;
        }

        .image-block__circle_1 {
            &::before {
                transform: translate(calc(-50% + rem(18)), 20%);
            }
        }

        .image-block__circle_2 {
            &::before {
                transform: translate(calc(-50% + rem(20)), 6%);
            }
        }
    }

    &__content {
        flex: 1 1 auto;
        @include adaptiveValue("padding-left", 126, 30, 1420, 992, 2);
        @media (max-width: $tablet) {
            padding-left: rem(0);
        }
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 30);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__spollers {
        display: grid;
        gap: rem(24);
    }
}

.spollers-pathway {
    &__item {
        background: rgba(255, 255, 255, 0.05);
        border-radius: rem(10);
        overflow: hidden;
    }

    &__title {
        width: 100%;
        display: block;
        text-align: left;
        padding: rem(24) rem(30);
        border-radius: rem(10);
        display: flex;
        align-items: center;
        font-weight: 400;
        font-style: normal;
        @include adaptiveValue("font-size", 24, 18);
        line-height: 177%;
        gap: rem(10);
        justify-content: space-between;
        &::after {
            content: "";
            background: url("../img/arrow-down.svg") center / 100% no-repeat;
            flex: 0 0 rem(24);
            height: rem(24);
            transition: all 0.3s ease 0s;
        }
        &._spoller-active {
            &::after {
                transform: rotate(-180deg);
            }
        }

        @media (max-width: $mobileSmall) {
            line-height: 130%;
            padding: rem(18) rem(20);
        }
    }

    &__body {
        border-radius: 0 0 rem(10) rem(10);
        padding: rem(0) rem(30) rem(24) rem(30);
        @media (max-width: $mobileSmall) {
            padding: rem(0) rem(20) rem(18) rem(20);
        }
    }
}

//====================================================================================================
.why {
    @include adaptiveValue("padding-top", 100, 25);
    @include adaptiveValue("padding-bottom", 100, 25);
    &__container {
        display: grid;
        row-gap: rem(30);
        @media (min-width: $tablet) {
            grid-template-columns: 1fr percent(680, 1420);
        }
    }
    &__content {
        @include adaptiveValue("padding-right", 177, 30, 1420, 992, 2);
        @media (max-width: $mobileSmall) {
            padding-right: rem(0);
        }
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 30);
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__steps {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 55, 30);
        }
    }

    &__button {
        min-width: rem(233);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
    img {
        @media (max-width: $tablet) {
            width: 100%;
        }
    }
}
.steps-why {
    list-style-type: none;
    counter-reset: item;
    display: grid;
    @include adaptiveValue("gap", 48, 20);
    &__item {
        font-size: rem(25);
        line-height: 222%;
        display: flex;
        @include adaptiveValue("gap", 48, 20);
        &::before {
            content: counter(item);
            counter-increment: item;
            width: rem(64);
            height: rem(64);
            background: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            font-weight: 600;
            font-size: rem(36);
            line-height: rem(70);
            text-align: center;
        }
    }
}

//====================================================================================================
.reviews {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 200, 50);
    &__container-big {
    }

    &__container {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 20);
        }
    }

    &__text {
        max-width: rem(500);
        text-align: center;
        @include adaptiveValue("margin-bottom", 48, 30);
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__items {
        display: flex;
        @include adaptiveValue("gap", 48, 25);
        @include adaptiveValue("margin-bottom", 48, 30);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 1 50%;
        justify-content: space-between;
        border-radius: 20px;
    }

    &__button {
        min-width: rem(233);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
.item-review {
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    border-radius: rem(20);
    overflow: hidden;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
    &__image-ibg {
        padding-bottom: percent(377, 686);
        flex: 0 0 percent(300, 686);
        img {
            border-radius: rem(20) 0 0 rem(20);
        }
    }
    &__body {
        @include adaptiveValue("padding", 32, 20);
        display: flex;
        gap: rem(15);
        flex-direction: column;
        justify-content: space-between;
    }
    &__name {
        font-weight: 600;
        font-size: rem(18);
        line-height: 177%;
    }
}

//====================================================================================================
.download {
    @include adaptiveValue("padding-bottom", 200, 50);
    &__container-big {
    }

    &__container {
    }

    &__body {
        overflow: hidden;
        position: relative;
        background: rgba(255, 255, 255, 0.07);
        border-radius: rem(20);
        text-align: center;
        display: grid;
        justify-items: center;
        @include adaptiveValue("padding-top", 70, 25);
        @include adaptiveValue("padding-bottom", 64, 25);
        @include adaptiveValue("padding-left", 30, 20);
        @include adaptiveValue("padding-right", 30, 20);
    }

    &__title {
        max-width: rem(600);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 49, 20);
        }
    }

    &__apps {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(24);
        flex-wrap: wrap;
    }

    &__app {
    }

    &__circle {
        position: absolute;
        top: 0;
        left: 50%;
        @include adaptiveValue("width", 640, 350);
        @include adaptiveValue("height", 640, 350);
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.37);
            top: 0;
            left: 0;
        }
        &_1 {
            &::before {
                transform: translate(-50%, -18%);
            }
        }
        &_2 {
            &::before {
                transform: translate(-50%, -6%);
            }
        }
    }
}

//====================================================================================================